<div class="viewport">



<h1>Experiments!</h1>

<table>

<% # experiments listing in a table %>
 <% @experiments.each do |experiment| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %> ">
		
		<td class="list_description">
			<dl>
				<dt>
					<%= link_to experiment.title, experiment %>
				</dt>
				<dd><%= truncate(strip_tags(experiment.procedure), length:160) %></dd>
			</dl>
			
		</td>
		
		
	</tr>
<% end %>	
</table>

<br />

<%= link_to 'New Experiment', new_experiment_path %>

</div>
