// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchform {
	border: 2px solid #358F51;
	border-radius: 10px;
	font-family: 'arial';
	width: 60em;
	height: 10em;
}
