<!DOCTYPE html>
<html>
<head>
  <title>Blabnotes2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body class= "<%= controller.controller_name %>">
	
	<div class="topnav">
	<h1 class="logo"> Blabnotes</h1>
	</div>

	<div class="sidebar">
		<ul>
			<li> 
			<a href="#" title="Menu Item 1"> Menu Item 1</a>
			</li>
			<li> 
			<a href="#" title="Menu Item 2"> Menu Item 2</a>
			</li>
		</ul>
	</div>


<%= yield %>

</body>
</html>
